.navbar {
    background-color: #ffffff !important;
    margin-bottom: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.navbar #right {
    display: flex;
    gap: 1rem;
}

[data-bs-theme="dark"] .navbar {
    background-color: #1c1c1c !important;
    border-bottom: 1px solid #343a40;
}
[data-bs-theme="dark"] .navbar .nav-link {
    color: #e9ecef !important;
}
[data-bs-theme="dark"] .navbar .nav-link:hover {
    color: #ffffff !important;
}

[data-bs-theme="dark"] .navbar-brand {
    color: #f8f9fa !important;
}
[data-bs-theme="dark"] .btn-outline-primary {
    color: #f8f9fa;
    border-color: #f8f9fa;
}
[data-bs-theme="dark"] .btn-outline-primary:hover {
    background-color: #f8f9fa;
    color: #1c1c1c;
}

