{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shareView.css') }}">
{% endblock %}
{% block content %}

<div class="container app-container">
    <div class="app-header">
        <h1 class="display-4 app-title">Audiometry</h1>
        <p class="app-subtitle">This is where you will share your analysis to other users.</p>
    </div>

    <div class="alert alert-danger" role="alert">
        This page is still in development!
    </div>


</div>
<script type="module" src="{{ url_for('static', filename='scripts/shareView.js') }}"></script>
{% endblock %}