{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/shareView.css') }}">
{% endblock %}
{% block content %}
<div class="main-content">
    <div class="content">
        <div class="section active" id="share">
            <h1>Share</h1>
            <div class="form-container">
                <p>Add a message</p>
                <textarea id="message" placeholder="send a message (optional)"></textarea>
                <p>Select Analysis</p>
                <select id="analysisSelect" class="analysis-select">
                    {% for analysis in myAnalyses %}
                    <option value="{{ analysis[0] }}">{{ analysis[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <p class="sum">Analysis Summary</p>
            <div class="mt-5 text-center">
                <canvas id="oscilloscope" width="500" height="200"></canvas>
            </div>
            <div class="analysis">
                <div class="data">
                    <div class="data-label">Clip Length</div>
                    <div id="clipLengthField" class="data-value">-</div>
                </div>
                <div class="data">
                    <div class="data-label">Max level (dBFS)</div>
                    <div id="maxLevelField" class="data-value">-</div>
                </div>
                <div class="data">
                    <div class="data-label">Highest Frequency</div>
                    <div id="highestFrequencyField" class="data-value">-</div>
                </div>
                <div class="data">
                    <div class="data-label">Lowest Frequency</div>
                    <div id="lowestFrequencyField" class="data-value">-</div>
                </div>
                <div class="data">
                    <div class="data-label">Fundamental Frequency</div>
                    <div id="fundamentalFrequencyField" class="data-value">-</div>
                </div>
            </div>
            <div class="friend position-relative">
                <label for="recipientInput" class="friend-label fw-bold mb-2">Share with:</label>
                <input type="text" id="recipientInput" class="form-control" placeholder="Enter a username or email">
                <ul id="usernameSuggestions" class="suggestions-list list-group position-absolute h-150 w-20"></ul>
            </div>
            <div class="shareButton mt-4">
                <button type="button" class="btn btn-primary" id="shareButton" onclick="shareAnalysis()">Share</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='scripts/shareView.js') }}"></script>
{% endblock %}